<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deep.backend.model.dao.TestMapper">
    <resultMap id="testResultMap" type="com.deep.backend.model.dto.TestDTO">
        <id property="test" column="test"/>
        <result property="count" column="count"/>
    </resultMap>
    <select id="getCurrentData" resultMap="testResultMap"> <!-- 생략 resultType="com.deep.backend.model.dto.TestDTO"-->
        SELECT * FROM sayhello
    </select>
    <update id="incrementCount">
        UPDATE sayhello SET count = count + 2
    </update>
</mapper>
